:root {
  --font-base: Inter, sans-serif;
  --font-main: 'Press Start 2P', monospace, sans-serif;
  --text-weight: 410;
  --title-weight: 715;
  --bg-gradient: repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --bg-color: #fff;
  --border: 2px solid black;
  --accent-color: #000;
  --animation-fill-color: red;
  --contour-color: black;
  --sparkles-color: transparent;
}